.header {
    font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  margin: 0 auto;
  width: 300px;
  padding: 20px;
  border-radius: 0 0 10px 10px;
  background: rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
