.wrapper {
  display: flex;
  width: 600px;
  margin: 0 auto;
  padding: 75px 0;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  text-align: center;

}

.wrapperTitle {
  opacity: 0.7;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  font-weight: 200;
  width: 350px;
  font-size: 40px;
  line-height: 1.1;
}

.currency {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.currencyText {
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  margin-bottom: 20px;
}

.currencyInput {
    background: transparent;
    width: 95px;
    padding: 1em;
    border: none;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    color: #fff;
    font-family: Montserrat, sans-serif;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    outline: none;
}
